body,html,button,
input,select,textarea {
    font-family : "Source Sans Pro";
}
.article-content.intro-text > p:first-child, .article-content p.intro-text, .article-content.dropcap > p:first-child:first-letter,
.article-content p.dropcap:first-letter, .article-content blockquote, .aside-post .post-title, .slide-caption, .review-shortdesc {
    font-family : "Merriweather";
}

#navbar {
    background-color : #089e00;
}
.featured-post .caption .post-categories a { background-color : rgba(8,158,0, 0.75); }
header ul.menu > li > a:hover, header ul.menu > li.sfHover > a, .mobile-toggle {
    background-color : #089e00    }
.header-style-1 .logo, .right-nav, .right-menu {
    border-color: #089e00 !important
}
#top {
    height: 110px;
}

a, .section-heading strong, .archive-heading strong, .article-content.dropcap > p:first-child:first-letter,
.article-content p.dropcap:first-letter, .dropcaps, .popup-heading,
.commentlist .bypostauthor > .comment-body > .comment-author > .fn,
.price-info strong, .productinfo a.aff-link, .article-content .subheading,
.topcart .empty-cart a {
    color: #067A00;
}
::-moz-selection {
    background: #089e00;
}
::selection {
    background: #089e00;
}
.featured-slider-thumbnail .owl-item.active img {
    border-color: #089e00;
}
#postloader {
    border-top-color : #089e00;
}

.breakingnews { background: #3b3b3b }
.owl-breakingnews .owl-wrapper-outer:after {
    background: -moz-linear-gradient(left,  rgba(59,59,59,0) 0%, rgba(59,59,59,1) 100%);
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(59,59,59,0)), color-stop(100%,rgba(59,59,59,1)));
    background: -webkit-linear-gradient(left,  rgba(59,59,59,0) 0%,rgba(59,59,59,1) 100%);
    background: -o-linear-gradient(left,  rgba(59,59,59,0) 0%,rgba(59,59,59,1) 100%);
    background: -ms-linear-gradient(left,  rgba(59,59,59,0) 0%,rgba(59,59,59,1) 100%);
    background: linear-gradient(to right,  rgba(59,59,59,0) 0%,rgba(59,59,59,1) 100%);
}
.breakingnews-marquee ul:before {
    background: -moz-linear-gradient(left,  rgba(59,59,59,1) 0%, rgba(59,59,59,0) 100%);
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(59,59,59,1)), color-stop(100%,rgba(59,59,59,0)));
    background: -webkit-linear-gradient(left,  rgba(59,59,59,1) 0%,rgba(59,59,59,0) 100%);
    background: -o-linear-gradient(left,  rgba(59,59,59,1) 0%,rgba(59,59,59,0) 100%);
    background: -ms-linear-gradient(left,  rgba(59,59,59,1) 0%,rgba(59,59,59,0) 100%);
    background: linear-gradient(to right,  rgba(59,59,59,1) 0%,rgba(59,59,59,0) 100%);
}

.breakingnews-marquee ul:after {
    background: -moz-linear-gradient(left,  rgba(59,59,59,0) 0%, rgba(59,59,59,1) 100%);
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(59,59,59,0)), color-stop(100%,rgba(59,59,59,1)));
    background: -webkit-linear-gradient(left,  rgba(59,59,59,0) 0%,rgba(59,59,59,1) 100%);
    background: -o-linear-gradient(left,  rgba(59,59,59,0) 0%,rgba(59,59,59,1) 100%);
    background: -ms-linear-gradient(left,  rgba(59,59,59,0) 0%,rgba(59,59,59,1) 100%);
    background: linear-gradient(to right,  rgba(59,59,59,0) 0%,rgba(59,59,59,1) 100%);
}
.breakingnews-item a, .breakingnews-item .post-title a, .owl-breakingnews .owl-buttons div, .breakingnews-marquee a, .breakingnews-marquee a:hover { color: #f7f7f7 }
.breakingnews-item .post-date, .breakingnews-marquee .post-date { color: #aaaaaa }
.breakingnews-item .post-category a, .breakingnews-marquee .post-category a { color: #aaaaaa }
.owl-breakingnews .owl-item, .owl-breakingnews .owl-buttons { border-color: #3b3b3b; }

/* Side Feed  */
.sidebar-posts .post-meta .post-category a { color: #7b7b7b; }

/* Side Feed Active */
.active.sidebar-post-item { background-color: #f5f5f5; border-color: #f5f5f5 }

.jpreloader span {
    background : #FCDCD9;
}
@-webkit-keyframes jpreloader {
    0% {height:6px;transform:translateY(0px);background:#FCDCD9;}
    25% {height:12px;transform:translateY(3px);background:#ef4135;}
    50% {height:6px;transform:translateY(0px);background:#F4837B;}
    100% {height:6px;transform:translateY(0px);background:#FCDCD9;}
}
@-moz-keyframes jpreloader {
    0% {height:6px;transform:translateY(0px);background:#FCDCD9;}
    25% {height:12px;transform:translateY(3px);background:#ef4135;}
    50% {height:6px;transform:translateY(0px);background:#F4837B;}
    100% {height:6px;transform:translateY(0px);background:#FCDCD9;}
}
@-o-keyframes jpreloader {
    0% {height:6px;transform:translateY(0px);background:#FCDCD9;}
    25% {height:12px;transform:translateY(3px);background:#ef4135;}
    50% {height:6px;transform:translateY(0px);background:#F4837B;}
    100% {height:6px;transform:translateY(0px);background:#FCDCD9;}
}
@keyframes jpreloader {
    0% {height:6px;transform:translateY(0px);background:#FCDCD9;}
    25% {height:12px;transform:translateY(3px);background:#ef4135;}
    50% {height:6px;transform:translateY(0px);background:#F4837B;}
    100% {height:6px;transform:translateY(0px);background:#FCDCD9;}
}

#footer-content { background: #3b3b3b }
#footer-content, #footer-content a { color: #aaaaaa }
#footer h1, #footer h2, #footer h3, #footer h4, #footer h5, #footer h6 { color: #f7f7f7; }
.footer-bottom a {
    color: #5b5b5b;
    text-shadow: none;
}

#main { background-color: #e5e5e5; background-position: center center; }

@media only screen and (min-width : 320px) and (max-width : 1024px) {
    .mobile-toggle, #navbar, .header-style-1 .logo, .top-search [name='s'] {
        height: 60px;
        line-height: 60px;
    }
}