
.vp-js-select2 {
    width: 100%;
}

.slider-input {
    float: right;
    width: 60px !important;
}

.slider-wrapper {
    padding: 15px 80px 5px 0;
    margin-left: 5px;
}

.input-uploadfile .buttons [type="button"] {
    width: 90px !important;
    margin-top: 10px !important;
}


.vp-js-slider {
    color: #222;
    height: 0.8em;
    position: relative;
    text-align: left;
    border-radius: 5px;
}

.slider-element {
    position: relative;
}

.vp-js-slider.ui-slider-horizontal, .slider-element.ui-slider-horizontal {
    border: 1px solid #AAA;;
}

.vp-js-slider > div, .slider-element > div {
    left: 0px;
    top: 0px;
    height: 100%;
    position: absolute;
    z-index: 1;
    font-size: 0.7em;
    display: block;
    border: 0px none;
    background: #ccc;
}

.vp-js-slider > a, .slider-element > a, .vp-js-slider > span, .slider-element > span {
    border: 1px solid #666;
    background: #888;
    font-weight: normal;
    color: #555;
    top: -0.3em;
    margin-left: -0.6em;
    position: absolute;
    z-index: 2;
    width: 1.2em;
    height: 1.2em;
    cursor: default;
    border-radius: 100%;
    cursor: pointer;
}

.vc_panel .vp-js-slider > a,
.vc_panel .slider-element > a,
.vc_panel .vp-js-slider > span,
.vc_panel .slider-element > span {
    top: -9px;
}

.slider-element > a {
    top: -0.6em;
}

.vp-js-slider > a:focus, .vp-js-slider > a:hover, .slider-element > a:focus, .slider-element > a:hover {
    border: 1px solid #333;
}

.vc_panel-body input[type="checkbox"]:before {

}

.vc_panel .wp-tab-panel {
    padding: 10px 10px;
    max-height: 120px;
}

.vc_panel .wp-tab-panel label {
    display: block;
    padding: 1px 0;
}

.vc_panel .wp-tab-panel label input {
    margin-right: 7px;
}

.first_title, .second_title {
    padding-right: 2px;
    padding-left: 2px;
}

.select2-drop {
    z-index: 150000 !important;
}

.select2-result-label i, .select2-choice i {
    padding-right: 10px;
}

#jmagz_dummy_page_metabox {
    display: none !important;
}

.composer-switch {
    margin-top: 20px;
}

.setting-slider-gallery {
    display: block;
    overflow: hidden;
}

.gallery-settings em {
    color: #8D8D8D;
}

.vp-field .description strong {
    display: block;
    padding: 10px 0;
}

/* VC Custom Elements */
#jeg_top_slider,
#jeg_no_thumb_top_slider,
#jeg_news_block_v1,
#jeg_news_block_v2,
#jeg_mews_block_tower,
#jeg_mews_slider,
#jeg_mews_slider_2,
#jeg_mews_block,
#jeg_post_button,
#jeg_review_block,
#jeg_review_block_v1,
#jeg_review_block_v2,
#jeg_review_block_tower,
#jeg_review_slider,
#jeg_news_video_block,
#jeg_review_video_block,
#jeg_ads_block {padding-left: 75px !important}

.wpb_jeg_top_slider .wpb_element_title,
.wpb_jeg_no_thumb_top_slider .wpb_element_title,
.wpb_jeg_news_block_v1 .wpb_element_title,
.wpb_jeg_news_block_v2 .wpb_element_title,
.wpb_jeg_mews_block_tower .wpb_element_title,
.wpb_jeg_mews_slider .wpb_element_title,
.wpb_jeg_mews_slider_2 .wpb_element_title,
.wpb_jeg_mews_block .wpb_element_title,
.wpb_jeg_post_button .wpb_element_title,
.wpb_jeg_review_block .wpb_element_title,
.wpb_jeg_review_block_v1 .wpb_element_title,
.wpb_jeg_review_block_v2 .wpb_element_title,
.wpb_jeg_review_block_tower .wpb_element_title,
.wpb_jeg_review_slider .wpb_element_title,
.wpb_jeg_news_video_block .wpb_element_title,
.wpb_jeg_review_video_block .wpb_element_title,
.wpb_jeg_ads_block .wpb_element_title
{min-height: 40px }

#jeg_top_slider .vc_element-icon, .wpb_jeg_top_slider .vc_element-icon,
#jeg_no_thumb_top_slider .vc_element-icon, .wpb_jeg_no_thumb_top_slider .vc_element-icon,
#jeg_news_block_v1 .vc_element-icon, .wpb_jeg_news_block_v1 .vc_element-icon,
#jeg_news_block_v2 .vc_element-icon, .wpb_jeg_news_block_v2 .vc_element-icon,
#jeg_mews_block_tower .vc_element-icon, .wpb_jeg_mews_block_tower .vc_element-icon,
#jeg_mews_slider .vc_element-icon, .wpb_jeg_mews_slider .vc_element-icon,
#jeg_mews_slider_2 .vc_element-icon, .wpb_jeg_mews_slider_2 .vc_element-icon,
#jeg_mews_block .vc_element-icon, .wpb_jeg_mews_block .vc_element-icon,
#jeg_post_button .vc_element-icon, .wpb_jeg_post_button .vc_element-icon,
#jeg_review_block .vc_element-icon, .wpb_jeg_review_block .vc_element-icon,
#jeg_review_block_v1 .vc_element-icon, .wpb_jeg_review_block_v1 .vc_element-icon,
#jeg_review_block_v2 .vc_element-icon, .wpb_jeg_review_block_v2 .vc_element-icon,
#jeg_review_block_tower .vc_element-icon, .wpb_jeg_review_block_tower .vc_element-icon,
#jeg_review_slider .vc_element-icon, .wpb_jeg_review_slider .vc_element-icon,
#jeg_news_video_block .vc_element-icon, .wpb_jeg_news_video_block .vc_element-icon,
#jeg_review_video_block .vc_element-icon, .wpb_jeg_review_video_block .vc_element-icon,
#jeg_ads_block .vc_element-icon, .wpb_jeg_ads_block .vc_element-icon  {
    background-image: url('../../img/vc/jmagz_vc_icon.png') !important;
    width: 60px !important;
    height: 40px !important;
    top: 16px !important;
}
#jeg_top_slider .vc_element-icon, .wpb_jeg_top_slider .vc_element-icon {
    background-position: 0 0;
}
#jeg_no_thumb_top_slider .vc_element-icon, .wpb_jeg_no_thumb_top_slider .vc_element-icon {
    background-position: -60px 0;
}
#jeg_news_block_v1 .vc_element-icon, .wpb_jeg_news_block_v1 .vc_element-icon {
    background-position: -120px 0;
}
#jeg_news_block_v2 .vc_element-icon, .wpb_jeg_news_block_v2 .vc_element-icon {
    background-position: -180px 0;
}
#jeg_mews_block_tower .vc_element-icon, .wpb_jeg_mews_block_tower .vc_element-icon {
    background-position: -240px 0;
}
#jeg_mews_slider .vc_element-icon, .wpb_jeg_mews_slider .vc_element-icon {
    background-position: -300px 0;
}
#jeg_mews_slider_2 .vc_element-icon, .wpb_jeg_mews_slider_2 .vc_element-icon {
    background-position: -360px 0;
}
#jeg_mews_block .vc_element-icon, .wpb_jeg_mews_block .vc_element-icon {
    background-position: 0 -40px;
}
#jeg_post_button .vc_element-icon, .wpb_jeg_post_button .vc_element-icon {
    background-position: -60px -40px;
}


#jeg_news_video_block .vc_element-icon, .wpb_jeg_news_video_block .vc_element-icon,
#jeg_review_video_block .vc_element-icon, .wpb_jeg_review_video_block .vc_element-icon {
    background-position: -420px 0;
}
#jeg_review_block .vc_element-icon, .wpb_jeg_review_block .vc_element-icon {
    background-position: -120px -40px;
}
#jeg_review_block_v1 .vc_element-icon, .wpb_jeg_review_block_v1 .vc_element-icon {
    background-position: -180px -40px;
}
#jeg_review_block_v2 .vc_element-icon, .wpb_jeg_review_block_v2 .vc_element-icon {
    background-position: -240px -40px;
}
#jeg_review_block_tower .vc_element-icon, .wpb_jeg_review_block_tower .vc_element-icon {
    background-position: -300px -40px;
}
#jeg_review_slider .vc_element-icon, .wpb_jeg_review_slider .vc_element-icon {
    background-position: -360px -40px;
}
#jeg_ads_block .vc_element-icon, .wpb_jeg_ads_block .vc_element-icon {
    background-position: -420px -40px;
}

